<div class="max-h-screen flex">
    <div class="block">
        <div class="block">
            <p>Name : {{myDetails?.firstName}} {{myDetails?.lastName}}</p>
            <p>Age : {{myDetails?.age}}</p>
            <p>Address</p>
            <ul>
                <li>Locality: {{myDetails?.address?.vill}}</li>
                <li>PIN: {{myDetails?.address?.po}}</li>
                <li>State: {{myDetails?.address?.state}}</li>
            </ul>
        </div>
        <button type="button" (click)="updateProfile()"
            class="w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 transition duration-200">
            Update
        </button>

    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>