<div class="flex h-screen">

    <!-- Sub1 (form part) -->
    <div [ngClass]="hasContent ? 'w-3/10' : 'w-1/2'" class="transition-all duration-300 p-4">

        <form [formGroup]="searchForm" (ngSubmit)="searchServices()">
            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">Age</label>
                <input type="text" formControlName="searchText" placeholder="Serchdata"
                    class="w-full border rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400">
            </div>
            <button type="submit" (click)="searchServices()"
                class="bg-blue-600 text-white px-6 py-2 rounded-md hover:bg-blue-700 transition">
                Search
            </button>
        </form>


        {{this.serviceList | json }}


        <!-- <button type="button" (click)="view()" class="w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 transition duration-200">
            View
          </button> -->


    </div>

    <!-- Sub2 (router outlet part) -->
    <div [ngClass]="hasContent ? 'w-7/10' : 'w-1/2'" class="transition-all duration-300 bg-gray-50 p-4">
        <router-outlet (activate)="onActivate()" (deactivate)="onDeactivate()"></router-outlet>
    </div>

</div>