<aside class="w-64 min-w-64 max-w-64 bg-cyan-600 text-white h-full overflow-hidden">
  <nav class="flex flex-col space-y-2 p-4">
    <a
      routerLink="/dashboard"
      routerLinkActive="bg-cyan-700 text-white font-semibold"
      [routerLinkActiveOptions]="{ exact: true }"
      class="px-4 py-2 rounded-lg hover:bg-cyan-500 transition-all duration-200 whitespace-nowrap"
    >
      Dashboard
    </a>
    <a
      routerLink="/profile"
      routerLinkActive="bg-cyan-700 text-white font-semibold"
      class="px-4 py-2 rounded-lg hover:bg-cyan-500 transition-all duration-200 whitespace-nowrap"
    >
      Profile
    </a>
    <a
      routerLink="/services"
      routerLinkActive="bg-cyan-700 text-white font-semibold"
      class="px-4 py-2 rounded-lg hover:bg-cyan-500 transition-all duration-200 whitespace-nowrap"
    >
      Services
    </a>
    <a
      routerLink="/sign-in"
      routerLinkActive="bg-cyan-700 text-white font-semibold"
      class="px-4 py-2 rounded-lg hover:bg-cyan-500 transition-all duration-200 whitespace-nowrap"
    >
      Sing In
    </a>
    <a
      routerLink="/sign-up"
      routerLinkActive="bg-cyan-700 text-white font-semibold"
      class="px-4 py-2 rounded-lg hover:bg-cyan-500 transition-all duration-200 whitespace-nowrap"
    >
      Sing Up
    </a>
  </nav>
</aside>
